/* For mobile phones: */
.pageHeader {
    padding-top: 30px;
    background-image: url("../images/mainImage.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.portfolioHeader {
    background-image: url("../images/portfolioheader.gif");
    /* background-attachment: fixed; */
    background-position: center;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.contactHeader {
    background-image: url("../images/contactheader.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.jumbotron {
    height: 100vh;
}

.navbar {
    font-family: 'Crimson Text', serif;
}

#title {
    display: block;
    margin-left: auto;
    margin-top: -20px;
    margin-right: auto;
    width: 100%;
}

.contactForm {
    background-color: rgba(255, 255, 255, 0.377);
    padding: 15px;
    border-radius: 5px;
    font-family: 'Crimson Text', serif;
}

.btnOrange {
    background-color: rgb(177,103,42);
    color: whitesmoke;
}

.btnOrange:hover {
    background-color: rgb(136, 75, 25);
}

a {
    color: rgb(177,103,42);
}

a:hover {
    color: rgb(136, 75, 25);
    text-decoration: none;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    
    .pageHeader {
        background-image: url("../images/mainImage.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .portfolioHeader {
        background-image: url("../images/portfolioheader.jpg");
        /* background-attachment: fixed; */
        position: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%; 
        height: 100%;
        overflow: auto;
    }

    .contactHeader {
        background-image: url("../images/contactheader.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%; 
    }
    
    .jumbotron {
        height: 100vh;
        margin-bottom: 0px;
    }

    navbar {
        font-family: 'Crimson Text', serif;
    }
    
    #title {
        display: block;
        margin-left: auto;
        margin-top: -50px;
        margin-right: auto;
        width: 100%;
    }

    .contactForm {
        background-color: rgba(255, 255, 255, 0.377);
        padding: 15px;
        font-family: 'Crimson Text', serif;
    }

    .footer-copyright {
        font-family: 'Crimson Text', serif;
    }

    .card-title {
        font-family: 'Crimson Text', serif;
    }

    .card-text {
        font-family: 'Crimson Text', serif;
    }

    .card {
        background-color: rgba(245, 245, 245, 0.733);
    }

    .portfolio-content {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .portfolio-item {
        height: 400px;
        margin-bottom: 10px;
    }

    .card-height {
        height: 400px;
    }
}